form {
    width: 300px;
    margin:auto;}
    

fieldset {
    margin-bottom: 10px;
    font-weight: bold;
}

label {
    display: inline-block;
    text-align: right;
    margin: 5px 0px;
    font-weight: normal;
}

.center {
    text-align: center;

}
    
#boutons_chiffres button, #input_identifiant, button, input, code_affiché {
    margin-left: 15px;
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
}
.invisible{
    display: none;}
